/* Начало обнуляющих стилей */
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*after{
	-moz-box=siting: border-box;
	-webkit-box-siting: border-box;
	box-sizing: border-box;
}
:focus, active{outline: none;};
a:focus,a:active{outline: none;}

nav,footer,header,aside{display: block;}

html,body{
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input,button,textarea{font-family:inherit;}

input::ms-clear{display: none;}
button{coursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a,a:visisted{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}

h1,h2,h3,h4,h5,h6{font-size: inherit;font-weight: 400;}
/* Конец обнуляющих стилей */

/* Установка шрифта всей странице */
body {
	font-family: Consolas, Monaco, "Andale Mono", "Ubuntu Mono";

	background: url(../image/background3.png) center 835px no-repeat, url(../image/background2.png) center 360px no-repeat, url(../image/background.png) center 0 no-repeat fixed;
}

/* __--___--__ Я тебе кадык вырву*/

/* Стили меню навигации */
.ul-menu {
	width: 100%;
	display: flex;
	background:#0E2426;
	justify-content: center;
}

.li-menu {
	
}

.a-menu {
	font-size: 14px;
	letter-spacing:0.2em;
	font-weight:550;
	font-family: Arial;
	line-height:37px;
	color:#ECF0F1;
	background:#0E2426;
	padding:0 15px;

	text-align:center;
	text-decoration:none;
 	text-transform:uppercase;
}

.a-menu:hover {
	text-decoration: underline;
}

a {
	color: #ECF0F1;
}

/* Стили блока */
.title {
	display: inline-block;
	width: 100%;
	margin: 60px 0px 0px 0px;
	text-align: center;

	position: absolute;
}
/* Стили заголовка */
.text {
	color: #ECF0F1;
	font-size: 80px;
	font-weight: bold;
	letter-spacing: 5px;
	text-decoration: none;
	text-transform: uppercase;
	font-synthesis: weight style;
}

/* Стили информации заголовка */
.info {
	color: #ECF0F1;
	font-size: 11px;
	letter-spacing: 2px;
	font-family: Ubuntu;
	text-transform: uppercase;
}

/* Стили кнопок скачивания */
.download-button {
	color: #ECF0F1;
	background: #F07E40;
	padding: 10px 20px;
	font-size: 20px;
	border-radius: 2px;
	text-decoration: none;
	font-family: Arial;
}

.pos-button {
	text-align: center;
	position: relative;
	margin-top: 250px;
}

#activ {
	background: #E74C3C;
}

#not-activ {
	margin-right: 10px;
	background: #2C3E50;
}

/* Стили "подвала" */
#footer {
	height: 20px;
	padding: 20px 0px 40px 0px;
	background: #0E2426;
	color: #ECF0F1;
	font-size: 19px;
	width: 100%;
	text-align: center;
	font-synthesis: weight style;
}

@media screen and (max-width: 440px) {
	.ul-menu {
		display: block;
		text-align: center;
	}

	body {
		/*background: url(../image/background3.png) center 835px no-repeat, url(../image/background2.png) center 360px no-repeat, url(../image/background.png) center  no-repeat fixed;*/
		background: url(../image/background3.png) center 983px no-repeat, url(../image/background2.png) center 508px no-repeat, url(../image/background.png) center 148px no-repeat;
	}

}

@media screen and (max-width: 533px) {
	.download-button {
		display: block;
		width: 60%;
	}
	#not-activ {
		width: 50%;
		margin-top: 20px;
		margin-left: 20%;
	}
	#activ {
		width: 30%;
		margin-left: 30%;
	}
	.pos-button {
		margin-top: 190px;
	}
}
